@keyframes animateBookmark {
  0% {
    transform: scale(1) translateY(0px);
  }
  20% {
    transform: scale(1) translateY(5px);
  }
  25% {
    transform: scale(1.1) rotate(9deg) translateY(-10px);
  }
  30% {
    transform: scale(1.05) translateY(-10px);
  }
  35% {
    transform: scale(1.1) rotate(-7deg) translateY(-5px);
  }
  50% {
    transform: scale(1.05) translateY(-5px);
  }
  60% {
    transform: scale(1.1) rotate(5deg);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeart {
  /* inspired by https://learnwithparam.com/blog/hearbeat-animation-using-css/ */
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(0.8);
  }
  35% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
}

@keyframes animateFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main-content#timeline {
  display: block;
  animation: animateFadeIn 0.4s;
}

emoji-preview,
timeline-post {
  display: block;
}

body.animate-loading timeline-post {
  will-change: opacity;
  opacity: 0.1;
  transition: opacity 0.15s ease-out;
}
body.animate-loading timeline-post.load-complete {
  will-change: auto;
  opacity: 1;
}

form-field {
  display: block;
  margin-top: var(--sl-spacing-medium);
}

form-footer {
  display: block;
  margin-top: var(--sl-spacing-x-large);
  text-align: center;
}

layout-spacer {
  display: block;
}

source-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h2 {
    --color: var(--color-slateblue);
    display: flex;
    align-items: center;
    min-height: 44px;
    margin: var(--sl-spacing-medium) 0;

    & a {
      padding-right: var(--sl-spacing-small);
    }
  }
  & img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 8px;
    vertical-align: -0.35em;
    box-shadow: var(--box-shadow) var(--color-shadow);
  }
  & a:hover {
    text-decoration: none;
  }

  & > sl-dropdown {
    padding-left: var(--sl-spacing-x-small);
  }
}
@media (max-width: 600px) {
  source-header img {
    vertical-align: -0.5em;
  }
}

sl-card-footer {
  /* not part of Shoelace — I made it up =) */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -0.5em;
  font-size: 20px;

  & sl-icon-button[bookmarked]::part(base) {
    color: var(--color-green);
  }
  & sl-icon-button.changed[bookmarked] {
    transform-origin: 50% 100%;
    animation: animateBookmark 0.6s;
  }
  & sl-icon-button[favorited]::part(base) {
    color: var(--color-love);
  }
  & sl-icon-button.changed[favorited] {
    animation: animateHeart 1s;
  }
}

/* Replicate sl-input in light DOM for username/password fields */
sl-light-input {
  --focus-ring: 0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);
  flex: 1 1 auto;
  display: inline-flex;
  align-items: stretch;
  justify-content: start;
  position: relative;
  width: 100%;
  font-family: var(--sl-input-font-family);
  font-weight: var(--sl-input-font-weight);
  letter-spacing: var(--sl-input-letter-spacing);
  background-color: var(--sl-input-background-color);
  border: solid var(--sl-input-border-width) var(--sl-input-border-color);
  vertical-align: middle;
  overflow: hidden;
  transition: var(--sl-transition-fast) color, var(--sl-transition-fast) border,
    var(--sl-transition-fast) box-shadow;
  cursor: text;

  border-radius: var(--sl-input-border-radius-medium);
  font-size: var(--sl-input-font-size-medium);
  height: var(--sl-input-height-medium);

  &.input--focused {
    background-color: var(--sl-input-background-color-focus);
    border-color: var(--sl-input-border-color-focus);
    box-shadow: var(--focus-ring);
  }

  &:hover {
    background-color: var(--sl-input-background-color-hover);
    border-color: var(--sl-input-border-color-hover);
  }
}

sl-light-input > label {
  display: inline-block;
  color: var(--sl-input-label-color);
  margin-bottom: var(--sl-spacing-xxx-small);
}

sl-light-input > input {
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  min-width: 0;
  height: 100%;
  color: var(--sl-input-color);
  border: none;
  background: none;
  box-shadow: none;
  padding: 0 var(--sl-input-spacing-medium);
  margin: 0;
  cursor: inherit;
  -webkit-appearance: none;
  height: calc(var(--sl-input-height-medium) - var(--sl-input-border-width) * 2);

  &:focus {
    outline: none;
  }
  &:hover {
    color: var(--sl-input-color-hover);
  }
}

tag-list {
  display: block;
  animation: animateFadeIn 0.4s;
  --hover-brightness: 1;
  margin-bottom: var(--tag-list-spacing, 1rem);
}

sl-dropdown.contains-emoji-picker {
  --emoji-picker-container-height: 24rem;
  --emoji-picker-height: 22.5rem;

  min-height: var(--emoji-picker-container-height);
}
emoji-picker {
  height: var(--emoji-picker-height);
}

@media (max-width: 449px) {
  sl-dropdown.contains-emoji-picker {
    --emoji-picker-container-height: 16rem;
    --emoji-picker-height: 15rem;
  }
}

@media (max-width: 410px) {
  emoji-picker {
    --emoji-size: 1rem;
  }
}
