layout-spacer {
  display: block;
}

source-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h2 {
    --color: var(--color-slateblue);
    display: flex;
    align-items: center;
    min-height: 44px;
    margin: 1rem 0;

    & a {
      padding-right: 0.75rem;
    }
  }
  & img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 8px;
    vertical-align: -0.35em;
    box-shadow: var(--box-shadow) var(--color-shadow);
  }
  & a:hover {
    text-decoration: none;
  }

  & > sl-dropdown {
    padding-left: 0.5rem;
  }
}
@media (max-width: 600px) {
  source-header img {
    vertical-align: -0.5em;
  }
}

sl-card-footer { /* not part of Shoelace — I made it up =) */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -0.5em;
  font-size: 20px;

  & sl-icon-button[bookmarked]::part(base) {
    color: var(--color-green);
  }
}

tag-list {
  display: block;
  --hover-brightness: 1;
  margin-bottom: var(--tag-list-spacing, 1rem);
}
