$green: #119a6e;
$orange: #ffc68e;
$imblue: #303768;
$black: #000000;
$white: #ffffff;
$grey: #cacaca;
$grey-dark: #8a8a8a;
$grey-light: #eaeae6;
$success: #3adb76;
$warning: #ffae00;
$danger: #cc4b37;

$primary: $green;
$secondary: $orange;
$link: $primary;
$info: $secondary;
$text: $black;
$body-background-color: $grey-light;

$body-family: Tahoma;

$radius: 0.4rem;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/grid/columns.sass";

:root {
  --sl-color-black: #{$black};

  --sl-color-primary-hue: 161;
  --sl-color-primary-saturation: 80%;

  --sl-color-info-hue: 30;
  --sl-color-info-saturation: 100%;
  --sl-color-info-text: var(--sl-color-black);

  --sl-font-family: inherit;
  --sl-input-font-family: inherit;

  --sl-button-font-size-medium: 1rem;
  --sl-button-font-size-large: 1.25rem;

  --sl-input-border-radius-medium: #{$radius};
}

sl-button[type="primary"]::part(base) {
  background-color: var(--sl-color-primary-35);
  border-color: var(--sl-color-primary-35);
}
sl-button[type="primary"]:not([disabled])::part(base):hover {
  background-color: var(--sl-color-primary-45);
  border-color: var(--sl-color-primary-45);
}

sl-button[type="info"]::part(base) {
  background-color: var(--sl-color-info-75);
  border-color: var(--sl-color-info-75);
}
sl-button[type="info"]:not([disabled])::part(base):hover {
  background-color: var(--sl-color-info-65);
  border-color: var(--sl-color-info-65);
}

bl-container {
  display: block;
  @extend .container;

  main & {
    padding-top: 4rem;
  }

  @include touch {
    /* This fixes a horizontal overscroll bug in iOS Safari */
    overflow: hidden;
  }
  @include mobile {
    main & {
      /* Padding here fixes missing box-shadows */
      padding-top: 24px;
      margin-top: -24px !important;
      padding-bottom: 24px;
      margin-bottom: -24px;
      padding-left: 12px;
      padding-right: 12px;
      margin-left: -12px;
      margin-right: -12px;
    }
  }
}
bl-row {
  @extend .columns;
}
bl-column {
  @extend .column;
}
bl-content {
  @extend .content;
}

sl-card {
  --border-width: 0;
  --border-radius: 2px;
  &::part(base) {
    box-shadow: 0 2px 2px #ccc;
    border-bottom: 3px solid #eef9f2;
  }
}

sl-dialog::part(panel) {
  filter: blur(6px);
  transition: var(--sl-transition-medium) opacity, var(--sl-transition-medium) transform,
    0.5s filter;
}
sl-dialog[open]::part(panel) {
  filter: blur(0);
}
