:root {
  --color-green: #119a6e;
  --color-green-dark: color(#119a6e darken(6));
  --color-wintermint: #eef9f2;
  --color-orange: #ffc68e;
  --color-orange-dark: color(#ffc68e darken(6));
  --color-slateblue: #303768;
  --color-black: #000000;
  --color-darkmode: #1a1a1a;
  --color-white: #ffffff;
  --color-grey: #cacaca;
  --color-grey-dark: #8a8a8a;
  --color-grey-darkest: #4d4844;
  --color-grey-light: #eaeae6;
  --color-success: #3adb76;
  --color-warning: #ffae00;
  --color-danger: #cc4b37;
  --color-love: #d82130;

  /* MVP.css variables */
  --border-radius: 0.4rem;
  --box-shadow: 0 2px 2px;
  --color: var(--color-green);
  --color-accent: #118bee15;
  --color-bg: var(--color-grey-light);
  --color-bg-secondary: #e9e9e9;
  --color-secondary: var(--color-orange);
  --color-secondary-accent: #920de90b;
  --color-shadow: #cccccc;
  --color-text: #000;
  --color-text-secondary: #999;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  /* --heading-font-family: "jaf-domus", var(--font-family); */
  --heading-font-family: ui-rounded, "SF Pro Rounded", var(--font-family);
  --hover-brightness: 0.75;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.66;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1000px;

  /* Shoelace Variables */
  --sl-color-black: var(--color-black);
  --sl-color-primary-500: var(--color-green);
  --sl-color-primary-400: var(--color-green-dark);
  --sl-color-primary-50: var(--color-wintermint);
  --sl-color-info-500: var(--color-orange);
  --sl-color-info-400: var(--color-orange-dark);
  --sl-color-info-text: var(--sl-color-black);
  --sl-color-success-100: var(--color-wintermint);
  --sl-color-success-700: var(--color-green);
  --sl-font-family: var(--heading-font-family);
  --sl-font-sans: var(--font-family);
  --sl-button-font-size-medium: 1rem;
  --sl-button-font-size-large: 1.25rem;
  --sl-input-border-radius-medium: var(--border-radius);
  --sl-focus-ring-color-primary: color(#119a6e transparentize(0.2));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #e0dad5;
    --color-grey-darkest: var(--color-text);
    --color-bg: var(--color-black);
    --color-slateblue: #9ba8ff;
    --color-wintermint: #333;

    --color-shadow: #111;

    --sl-color-black: var(--color-white);
    --sl-color-white: var(--color-black);

    --sl-panel-border-color: var(--color-wintermint);
  }

  sl-alert, sl-menu-item {
    --sl-color-gray-700: var(--color-text);
    --sl-color-gray-200: var(--color-wintermint);
  }
  sl-menu-item {
    --sl-color-primary-50: var(--color-green-dark);
    --sl-color-primary-500: var(--color-white);
  }

  sl-card {
    --sl-color-white: var(--color-darkmode);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --color: var(--color-white) !important;
  }
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

html {
  font-size: 18px;
}
@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --line-height: 1.2;
  --color: var(--color-black);
  font-family: var(--heading-font-family);
  font-weight: 400;
  color: var(--color);
}

h1 {
  text-align: center;
  font-size: 2.8rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.3rem;
  }
}

h1,
h2 {
  font-weight: 700;
}

h2,
h3 {
  font-size: 1.5rem;
}

h3 {
  font-weight: 500;
}

@media (max-width: 600px) {
  h2,
  h3 {
    font-size: 1.3rem;
  }
}

nav {
  margin-bottom: 2rem;
  height: 3rem;
}

body > footer {
  padding-top: 200px;
  color: var(--color-grey-dark);
  font-size: 0.85em;
}

.turbo-progress-bar {
  background: var(--color-orange-dark);
}

#timeline-read-more {
  margin-top: 1.25rem;
  & sl-button {
    width: 100%;
  }
}

@import "shoelace-customizations.css";
@import "custom-elements.css";
@import "navbar.css";
