nav[fixed] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &[bottom] {
    bottom: 0;
    top: unset;
    margin-bottom: 0;
  }
}

body > nav {
  background: color(#fff transparentize(0.7));
  height: 3.3rem;
  backdrop-filter: blur(15px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
  border-bottom: solid 1px #cfcfcf;
  &[bottom] {
    box-shadow: 0px -3px 13px rgba(0, 0, 0, 0.08);
    border-top: solid 1px #cfcfcf;
    border-bottom: none;

    @media (max-width: 1000px) {
      height: calc(env(safe-area-inset-bottom, 0) + 3.2rem);
      padding-bottom: calc(env(safe-area-inset-bottom, 0) - 1rem);
    }
  }

  & sl-menu-item > a {
    color: inherit;
  }
  & sl-menu-item input[type="submit"] {
    cursor: pointer;
  }

  & a:hover {
    text-decoration: none;
  }

  @media (max-width: 1000px) {
    & a:hover {
      filter: unset;
    }

    & .is-hidden-mobile {
      display: none;
    }
  }
}
@media (prefers-color-scheme: dark) {
  body > nav {
    background: color(#000 transparentize(0.7));
    border-bottom-color: #2f2f2f;
    &[bottom] {
      border-top-color: #2f2f2f;
    }
  }
}
#mobilebar {
  @media (min-width: 1001px) {
    display: none;
  }
}

.navbar-brand {
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  font-weight: 900;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  & a {
    vertical-align: -0.1rem;
  }
  & svg {
    width: auto;
    height: var(--sl-spacing-medium);
    fill: var(--sl-color-black);
  }
}
.navbar-start,
.navbar-end {
  width: 40vw;
}
.navbar-end {
  text-align: right;
}
.navbar-item {
  padding-left: var(--sl-spacing-medium);
  padding-right: var(--sl-spacing-medium);

  & sl-icon {
    font-size: 120%;
    vertical-align: -0.2em;
    width: 1.16em;
    height: 1.16em;
    @media (max-width: 600px) {
      font-size: 130%;
    }
  }
}

layout-spacer[underneath-navbar] {
  height: 2rem;
}
