sl-button::part(base) {
  font-family: var(--sl-font-family);
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

sl-card {
  --border-width: 0;
  --border-radius: 2px;
  --color: var(--color-slateblue);
  --color-text: var(--color-grey-darkest);
  color: var(--color-text);
  width: 100%;

  &::part(base) {
    box-shadow: 0 2px 2px var(--color-shadow);
    border-bottom: 3px solid var(--color-wintermint);
  }
  & [slot=image] {
    --hover-brightness: 1;
    width: 100%;

    & img {
      display: block;
      width: 100%;
      min-height: 150px;
      max-height: 450px;
      object-fit: cover;
      object-position: center top;
    }
  }
  
  & h3 {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  & p a {
    text-decoration: underline;
    text-underline-offset: 0.1em;
  }

  &::part(footer) {
    padding-top: 0;
  }
}

sl-dialog::part(panel) {
  filter: blur(6px);
  transition: var(--sl-transition-medium) opacity, var(--sl-transition-medium) transform,
    0.5s filter;
}
sl-dialog[open]::part(panel) {
  filter: blur(0);
}

sl-menu {
  --hover-brightness: 1;
}
sl-menu-item::part(suffix) {
  margin-left: 1em;
}
