sl-alert {
  --sl-spacing-large: 1rem;
}

sl-alert::part(base) {
  font-size: 1rem;
}

sl-button::part(base) {
  font-family: var(--sl-font-family);
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
sl-button[loading]::part(base) {
  cursor: default;
}

sl-card {
  --border-width: 0;
  --border-radius: 2px;
  --color: var(--color-slateblue);
  --color-text: var(--color-grey-darkest);
  color: var(--color-text);
  width: 100%;
  min-height: 200px;
  display: block;
  overflow-wrap: break-word;

  &::part(base) {
    box-shadow: 0 2px 2px var(--color-shadow);
    border-bottom: 3px solid var(--color-wintermint);
    /* border-left: 6px solid var(--color-orange); */
  }
  & [slot=image] {
    --hover-brightness: 1;
    width: 100%;

    & img {
      display: block;
      width: 100%;
      min-height: 150px;
      max-height: 450px;
      object-fit: cover;
      object-position: center top;
    }
  }
  
  & h3 {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  & p a {
    text-decoration: underline;
    text-underline-offset: 0.1em;
  }

  &::part(footer) {
    padding-top: 0;
    padding-bottom: 0.80rem;
  }
}

body.animate-loading sl-card[data-controller="timeline-post"] {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
body.animate-loading sl-card[data-controller="timeline-post"].load-complete {
  opacity: 1;
}

sl-dialog::part(panel) {
  filter: blur(6px);
  transition: var(--sl-transition-medium) opacity, var(--sl-transition-medium) transform,
    0.5s filter;
}
sl-dialog[open]::part(panel) {
  filter: blur(0);
}

sl-menu {
  --hover-brightness: 1;
}
sl-menu-item::part(suffix) {
  margin-left: 1em;
}

.sl-toast-stack {
  top: 3.4rem;
}

@media (min-width: 28rem) {
  .sl-toast-stack {
    left: 50%;
    margin-left: -14rem;
  }
}

/* avoid FOUC */
sl-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}