<main>
  <section class="section">
    <bl-container>
      <bl-row>
        <bl-column>
          <bl-content>
            <h1>Home</h1>

            <p>Yay!</p>

            <sl-button type="info">
              <sl-icon slot="prefix" name="gear"></sl-icon>
              Settings
            </sl-button>
          </bl-content>

          <sl-dialog no-header class="dialog-overview">
            <sl-card class="card-overview">
              <img 
                slot="image" 
                src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" 
                alt="A kitten sits patiently between a terracotta pot and decorative grasses."
              >

              <strong>Mittens</strong><br>
              This kitten is as cute as he is playful. Bring him home today!<br>
              <small>6 weeks old</small>

              <div slot="footer">
                <sl-button type="primary">More Info</sl-button>
                <sl-rating></sl-rating>
                <sl-dropdown>
                  <sl-button slot="trigger" caret>Dropdown</sl-button>
                  <sl-menu>
                    <sl-menu-item>Dropdown Item 1</sl-menu-item>
                    <sl-menu-item>Dropdown Item 2</sl-menu-item>
                    <sl-menu-item>Dropdown Item 3</sl-menu-item>
                    <sl-menu-divider></sl-menu-divider>
                    <sl-menu-item checked>Checked</sl-menu-item>
                    <sl-menu-item disabled>Disabled</sl-menu-item>
                    <sl-menu-divider></sl-menu-divider>
                    <sl-menu-item>
                      Prefix
                      <sl-icon slot="prefix" name="gift"></sl-icon>
                    </sl-menu-item>
                    <sl-menu-item>
                      Suffix Icon
                      <sl-icon slot="suffix" name="heart"></sl-icon>
                    </sl-menu-item>
                  </sl-menu>
                </sl-dropdown>
              </div>
            </sl-card>
            <sl-button slot="footer" type="primary">
              <sl-icon slot="prefix" name="x-circle"></sl-icon>
              Close
            </sl-button>
          </sl-dialog>

          <sl-button>Open Dialog</sl-button>

          <script>
            (() => {
              const dialog = document.querySelector('.dialog-overview');
              const openButton = dialog.nextElementSibling;
              const closeButton = dialog.querySelector('sl-button[slot="footer"]');

              openButton.addEventListener('click', () => dialog.show());
              closeButton.addEventListener('click', () => dialog.hide());
            })();
          </script>
        </bl-column>
        <bl-column>
          <sl-card class="card-overview" style="width:100%">
            <div slot="header"><h2 class="is-size-3 has-text-weight-bold mb-3">I'm a Header!</h2>
            
            <div style="margin-left:-1.25rem;margin-right:-1.25rem">
              <img
                src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" 
                alt="A kitten sits patiently between a terracotta pot and decorative grasses."
              >
              </div>
            </div>
            

            <strong>Mittens</strong><br>
            This kitten is as cute as he is playful. Bring him home today!<br>
            <small>6 weeks old</small>

            <div>
              <sl-button type="primary" size="small">More Info</sl-button>
              <sl-rating></sl-rating>
              <sl-dropdown>
                <sl-button slot="trigger" size="small" caret>Dropdown</sl-button>
                <sl-menu>
                  <sl-menu-item>Dropdown Item 1</sl-menu-item>
                  <sl-menu-item>Dropdown Item 2</sl-menu-item>
                  <sl-menu-item>Dropdown Item 3</sl-menu-item>
                  <sl-menu-divider></sl-menu-divider>
                  <sl-menu-item checked>Checked</sl-menu-item>
                  <sl-menu-item disabled>Disabled</sl-menu-item>
                  <sl-menu-divider></sl-menu-divider>
                  <sl-menu-item>
                    Prefix
                    <sl-icon slot="prefix" name="gift"></sl-icon>
                  </sl-menu-item>
                  <sl-menu-item>
                    Suffix Icon
                    <sl-icon slot="suffix" name="heart"></sl-icon>
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
            </div>

            <div slot="footer">
              <sl-button type="primary" size="small">More Info</sl-button>
              <sl-rating></sl-rating>
              <sl-dropdown>
                <sl-button slot="trigger" size="small" caret>Dropdown</sl-button>
                <sl-menu>
                  <sl-menu-item>Dropdown Item 1</sl-menu-item>
                  <sl-menu-item>Dropdown Item 2</sl-menu-item>
                  <sl-menu-item>Dropdown Item 3</sl-menu-item>
                  <sl-menu-divider></sl-menu-divider>
                  <sl-menu-item checked>Checked</sl-menu-item>
                  <sl-menu-item disabled>Disabled</sl-menu-item>
                  <sl-menu-divider></sl-menu-divider>
                  <sl-menu-item>
                    Prefix
                    <sl-icon slot="prefix" name="gift"></sl-icon>
                  </sl-menu-item>
                  <sl-menu-item>
                    Suffix Icon
                    <sl-icon slot="suffix" name="heart"></sl-icon>
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
            </div>
          </sl-card>
        </bl-column>
      </bl-row>
    </bl-container>
  </section>
</main>